cffi==1.15.1
charset-normalizer==3.0.1
click==8.0.4
cryptography==40.0.2
dataclasses==0.8
dnspython==2.2.1
dsinternals==1.2.4
Flask==2.0.3
future==1.0.0
impacket==0.11.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
ldap3==2.9.1
ldapdomaindump==0.9.4
MarkupSafe==2.0.1
pyasn1==0.5.1
pycparser==2.21
pycryptodomex==3.20.0
pyOpenSSL==23.2.0
semantic-version==2.10.0
setuptools-rust==1.1.2
six==1.16.0
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0